.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.main {
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 10px;
}