.TodoList {
}

.TodoList > input {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.TodoList > input:focus {
  outline: none;
  border-bottom: 1px solid #1f93ff;
}

.TodoList .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}