body {
    padding: 20px;
}

.App {
    margin: 0 auto;
    width: 400px;
}

.App section {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px dotted #94da94;
    background: #f1ecec;
}